/* Resetting default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin-bottom: 20px;
}

.booking-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
